h1 {
    color : red;
    font-size: 16pt;
}

body {
    background-image: url(http://www.californiapizzaclub.com/images/company_profile1.jpg);
    background-size: 100%;
    font-family: sans-serif;
}


